<div class="row">
  <div class="col-md-12">
    <div class="card mt-3 lead font-weight-bold text-center bg-info text-white font-italic">
      <div class="card-body">Manage Users</div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-5">
    <div class="card ">
      <div class="card-header bg-info text-white">Add Users</div>
      <div class="card-body">
        <form  #userForm="ngForm" (ngSubmit)="onAddUser(userForm.value)">
          <div class="form-group" >
            <label for="">User Name </label>
            <input type="text" class="form-control" name="name" ngModel aria-describedby="helpId" placeholder="Enter User Name">
            <!-- <span class="help-block text-danger"
                *ngIf="productsForm.get('id').invalid && productsForm.get('id').touched"> Enter Product Id ...</span> -->
          </div>

          <div class="form-group">
            <label for="">Technology Use </label>
            <input type="text" class="form-control" name="technology" ngModel aria-describedby="helpId"
              placeholder="Enter Technology ...">
          </div>
          <div class="col-md-12 p-0">
            <button type="submit" class="btn btn-primary mx-1 "><i class="fas fa-plus-square"></i> Add User </button>
            <button type="button" class="btn btn-warning mx-1 text-white " (click)="featchUser()"><i class="fas fa-cloud-download-alt" ></i>
              Featch Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card ">
      <div class="card-header bg-info text-white">User </div>
      <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead class="bg-success text-white ">
            <tr>
              <th>Name</th>
              <th>Technology</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.name |titlecase}}</td>
              <td>{{user.technology |titlecase}}</td>
              <td class="text-danger">
                <button type="button" class="btn btn-link  text-danger"><i class="fas fa-user-edit"></i></button>
              </td>
              <td class="text-danger" >
                <button type="button" class="btn btn-link  text-danger" (click)="deleteUser(user.userId)"><i class="fas fa-trash-alt"></i></button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
