<div class="row">
  <div class="col-md-12">
    <form action="">


      <div class="row">
        <div class="col-md-5">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="Name">Name</label>
            <div class="col-md-12">
              <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="">
              <!-- <span class="help-block">help</span> -->
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="Amount">Amount</label>
            <div class="col-md-12">
              <input id="Amount" name="Amount" type="text" placeholder="Amount" class="form-control input-md"
                required="">
              <!-- <span class="help-block">help</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-12">
              <button id="Add" name="Add" class="btn btn-success mr-2">Add</button>
              <button id="Delete" name="Delete" class="btn btn-danger mr-2">Delete</button>
              <button id="Clear" name="Clear" class="btn btn-info mr-2">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
