<div class="row mt-3">
  <div class="col-md-12 text-center">
    <h1 class="display-4 text-danger ">Contact us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, ut! Ad illum laboriosam, iure, ullam qui optio
      sapiente, facere inventore nam in voluptate sit fugiat error modi iste eius. Laborum, incidunt nostrum! Labore
      enim deserunt asperiores voluptatem cupiditate nam accusantium!</p>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <app-card>
      <h4 class="card-title text-capitalize">laptop</h4>
      <button type="button" class="btn btn-success">Know More laptop </button>
    </app-card>
  </div>

  <div class="col-md-6">
    <app-card>
      <h4 class="card-title text-capitalize">Mobile</h4>
      <button type="button" class="btn btn-success">Know More Mobile </button>
    </app-card>
  </div>

  <div class="col-md-6">
    <app-card>
      <h4 class="card-title text-capitalize">Tv</h4>
      <button type="button" class="btn btn-success">Know More Tv </button>
    </app-card>
  </div>

  <div class="col-md-6">
    <app-card>
      <h4 class="card-title text-capitalize">Washing Machine</h4>
      <button type="button" class="btn btn-success">Know More Washing </button>
    </app-card>


  </div>

</div>
