<div class="row  col-md-12 mt-4">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">*ngIf </div>
      <div class="card-body">

        <input type="radio" name="gander" (click)="onchange(true)" checked> Male
        <input type="radio" name="gander" (click)="onchange(false)"> Famale

        <!-- Normal Used  -->

        <!-- <div *ngIf="isValid">
          I am Male
        </div>

        <div *ngIf="!isValid">
          I am Famale
        </div> -->

        <!-- Copile  code    -->
        <ng-template [ngIf]="isValid">
          <div>
            I am Male
          </div>
        </ng-template>

        <ng-template [ngIf]="!isValid">
          <div>
            I am Famale
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">Gander Selection Example</div>
      <div class="card-body">
        <input type="radio" name="gander1" (click)="selectGander('male')" checked> Male
        <input type="radio" name="gander1" (click)="selectGander('famale')"> Famale
        <input type="radio" name="gander1" (click)="selectGander('other')"> Other

        <div *ngIf="isGander=='male'">
          I am Male
        </div>

        <div *ngIf="isGander=='famale'">
          I am Famale
        </div>

        <div *ngIf="isGander=='other'">
          I am Other
        </div>

      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">Positive Nigative number</div>
      <div class="card-body">

        <div class="radio">
          <label>
            <input type="number" #internumber>
            <button type="button" class="btn btn-sm btn-info"
              (click)="positiveNigativeCheck(internumber.value)">button</button>
          </label>
        </div>

        <P>{{positiveNigativenumber}}</P>



      </div>
    </div>
  </div>
</div>

<div class="row  col-md-12 mt-4">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header bg-info text-white">*ngIf and Else Statement</div>
      <div class="card-body">
        <input type="radio" name="gander2" (click)="onchange1(true)" checked> Male
        <input type="radio" name="gander2" (click)="onchange1(false)"> Famale

        <!-- <div *ngIf="isValid1 else elseblock">
          I am Male
        </div>

        <ng-template #elseblock>
          <div>
            I am Famale
          </div>
        </ng-template> -->


        <ng-template [ngIf]="isValid1" [ngIfElse]="elseblock">
          <div> I am Male</div>
        </ng-template>

        <ng-template #elseblock>
          <div>
            I am Famale
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header bg-info text-white">Example 1</div>
      <div class="card-body">
        <label for="">Enter Your Age:</label>
        <input type="Text" name="voterselect" #age (keyup)="0">


        <div *ngIf=" age.value > 17 else elseblock1">
          Eligible for Vote
        </div>

        <ng-template #elseblock1>
          <div>
            Not Eligible for Vote
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</div>

<div class="row  col-md-12 mt-4">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header bg-warning ">*ngIf and Else then block</div>
      <div class="card-body">
        <input type="radio" name="gander3" (click)="onthenblock(true)" checked> Male
        <input type="radio" name="gander3" (click)="onthenblock(false)"> Famale

        <!-- Normal  Way -->

        <!-- <div *ngIf="Thenblockvalue then thenblock else elseblock2">

        </div>

        <ng-template #thenblock>
          <div>
            I am Male
          </div>
        </ng-template>

        <ng-template #elseblock2>
          <div>
            I am Famale
          </div>
        </ng-template> -->


        <!-- compile code -->
        <ng-template [ngIf]="Thenblockvalue" [ngIfThen]="thenblock" [ngIfElse]="elseblock2">

        </ng-template>

        <ng-template #thenblock>
          <div>
            I am Male
          </div>
        </ng-template>

        <ng-template #elseblock2>
          <div>
            I am Famale
          </div>
        </ng-template>

      </div>

      <div class="card-footer">Tips :code Organise / well Maintain </div>
    </div>
  </div>

  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-header bg-success text-white">Example 1</div>
      <div class="card-body">
        <label for="">Enter Your Age:</label>
        <input type="Text" name="voterselect" #age (keyup)="0">


        <div *ngIf=" age.value > 17 else elseblock1">
          Eligible for Vote
        </div>

        <ng-template #elseblock1>
          <div>
            Not Eligible for Vote
          </div>
        </ng-template>

      </div>
    </div>
  </div> -->

</div>

<div class="row  col-md-12 mt-4">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-success text-white">*ngFor </div>
        <div class="card-body">
          <label for="">Employee table Data</label>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of Empdata">
                <td>{{emp.fname}}</td>
                <td>{{emp.lname}}</td>
                <td>{{emp.age}}</td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-success text-white">*ngFor </div>
        <div class="card-body">
          <label for="">Employee List </label>
          <ul style="list-style-type: none;">
            <li *ngFor=" let emp of Empdata" class="mt-4">
              First Name: {{emp.fname}} Last Name: {{emp.lname}} Age: {{emp.age}}
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-success text-white">*ngFor </div>
        <div class="card-body">
          <label for="">Employee List compile code </label>
          <ul style="list-style-type: none;">
            <ng-template ngFor let-emp [ngForOf]="Empdata">
              <!--  *ngFor=" let emp of Empdata" class="mt-3" -->
              <li class="mt-4">
                First Name: {{emp.fname}} Last Name: {{emp.lname}} Age: {{emp.age}}
              </li>
            </ng-template>
          </ul>

        </div>
      </div>
    </div>

</div>


<div class="row  col-md-12 mt-4">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">*ngFor </div>
      <div class="card-body">
        <label for="">ngFor using index even odd</label>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname Lastname Age</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of Empdata;  index as i; even as iseven; odd  as isodd ">
              <td class="table-primary" *ngIf="iseven">{{i+1}}   {{emp.lname}} {{emp.age}}</td>
              <td class="table-success" *ngIf="isodd">{{i+1}} {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">*ngFor </div>
      <div class="card-body">
        <label for="">ngFor using index even odd</label>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Compile code </th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-emp [ngForOf]="Empdata" let-i="index" let-iseven="even" let-isodd="odd">
              <!-- *ngFor="let emp of Empdata;  index as i; even as iseven; odd  as isodd " -->
            <tr>
              <td class="table-primary" *ngIf="iseven">{{i+1}}   {{emp.lname}} {{emp.age}}</td>
              <td class="table-success" *ngIf="isodd">{{i+1}} {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
            </tr>
            </ng-template>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">*ngFor </div>
      <div class="card-body">
        <label for="">ngFor using index even odd First Last</label>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname Lastname Age</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of Empdata;  index as i; even as iseven; odd  as isodd ; first as isfirst ; last as islast">
              <td class="table-danger" *ngIf="isfirst">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
              <td class="table-primary" *ngIf="!islast && !isfirst">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
              <td class="table-info" *ngIf="islast">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>


<div class="row  col-md-12 mt-4">



  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-success text-white">*ngFor </div>
      <div class="card-body">
        <label for="">ngFor using index even odd First Last</label>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Compile code</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-emp [ngForOf]="Empdata" let-i="index" let-isfirst="first" let-islast="last">
              <!-- *ngFor="let emp of Empdata;  index as i; even as iseven; odd  as isodd ; first as isfirst ; last as islast" -->
            <tr>
              <td class="table-danger" *ngIf="isfirst">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
              <td class="table-primary" *ngIf="!islast && !isfirst">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
              <td class="table-info" *ngIf="islast">{{i+1}}  {{emp.fname}}  {{emp.lname}} {{emp.age}}</td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>




