<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand">Sohasoft A9</a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Basic</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ccontent']">Cource Content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/firstclass']">1class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/secondclass']">2 class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/threeclass']">3 class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/forthclass']">4 class</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Bblock</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/directive']">Directive</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/maincomponent']">maincomponent</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/parentcomunication1']">Parent child
        </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/asyncexample']">Asyncexample</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ngstyle-ngclass']">*ngStyle-*ngClass</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/stylebinding']">StyleBindig</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/app-pipes']">Pipes</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/lsstroge']">Localstroge and
          Sessionstroge</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/cookies']">Cookies</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/input()Output()']">@input() &
          Output()</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-container']">ng-container</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-content']">ng-content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-content1']">ng-content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/cdirective']">Custom Directive</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/childrouter']">Child Route </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/service']">Service </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/Observable']">Observable </a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Mydemo</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/templatedrivenform']">Templatedriven
          form</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/reactiveform']">Reactive form</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/viewchild']">@ViewChild</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/Parentchild']">@input</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/childparent']">@Output</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/getmethod']">Get Method</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/jquery']">Jquery Import</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Max</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/basic']">Basic</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/recipes']">Recipes Project</a>

      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">UxTrendz</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['json']">JSON.stringify() Vs JSON.parse()</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['lifecyclehook']">Life CycleHook</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['SubjectandBehaviour']">Subject &
          Behaviour</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['@viewChild']">@viewChild</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['uxtempdriven']">TempDrivenForm 1</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['uxcontact']">Reactive1</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['uxfirebase']">Firebase Example</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['uxcontent']">ng-content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['firebasecurdpostmethod']">curd post
          reactiveform</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">MyApp</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/camera']">Camera App</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/photosearch']">Photo Search</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/setmeeting']">Call Scheduler</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/setmeeting1']">Call Scheduler2</a>
      </div>
    </li>
  </ul>
</nav>
