<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand">Sohasoft A9</a>
  <!-- <a class="navbar-brand" routerLinkActive="active" [royterLinkActiveOption]="{exact:true}" [routerLink]="['/']">Sohasoft A9</a> -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Basic</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ccontent']" href="#">Cource Content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/firstclass']" href="#">1class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/secondclass']" href="#">2 class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/threeclass']" href="#">3 class</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/forthclass']" href="#">4 class</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Bblock</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/directive']" href="#">Directive</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/maincomponent']" href="#">maincomponent</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/parentcomunication1']" href="#">Parent child </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/asyncexample']" href="#">Asyncexample</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ngstyle-ngclass']" href="#">*ngStyle-*ngClass</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/stylebinding']" href="#">StyleBindig</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/app-pipes']" href="#">Pipes</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/lsstroge']" href="#">Localstroge and Sessionstroge</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/cookies']" href="#">Cookies</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/input()Output()']" href="#">@input() & Output()</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-container']" href="#">ng-container</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-content']" href="#">ng-content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/ng-content1']" href="#">ng-content</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/cdirective']" href="#">Custom Directive</a>
        <!-- <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/host-binding-lister']" href="#">HostBinding & HostListner</a> -->
      </div>
    </li>
    
 
 
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Mydemo</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/templatedrivenform']" href="#">Templatedriven form</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/reactiveform']" href="#">Reactive form</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/viewchild']" href="#">@ViewChild</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/Parentchild']" href="#">@input</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/childparent']" href="#">@Output</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/getmethod']" href="#">Get Method</a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/jquery']" href="#">Jquery Import</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Max</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/basic']" >Basic</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/recipes']" >Recipes Project</a>

      </div>
    </li>

    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">UxTrendz</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['json']" >JSON.stringify() Vs JSON.parse()</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['lifecyclehook']" >Life CycleHook</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['SubjectandBehaviour']" >Subject & Behaviour</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['@viewChild']" >@viewChild</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['uxtempdriven']" >TempDrivenForm 1</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['uxcontact']" >Reactive1</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['uxfirebase']" >Firebase Example</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['uxcontent']" >ng-content</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['firebasecurdpostmethod']" >curd post reactiveform</a>
      </div>
    </li>

    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">MyApp</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/camera']" >Camera App</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/photosearch']" >Photo Search</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/setmeeting']" >Call Scheduler</a>

      </div>
    </li>

    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">TypeScript</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/es6']" >es6</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/TypeScriptbasic']" >TypeScript Basic</a>
        <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/tyclass2']" >class 2</a>
        <!-- <a class="dropdown-item"   routerLinkActive="active" [routerLink]="['/photosearch']" >Photo Search</a> -->
      </div>
    </li>


     
  </ul>
</nav>
