<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Sohasoft A9</a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Basic</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/firstclass']"href="#">1class</a>
        <a class="dropdown-item" [routerLink]="['/secondclass']" href="#">2 class</a>
        <a class="dropdown-item" [routerLink]="['/forthclass']" href="#">4 class</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Bblock</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/directive']" href="#">Directive</a>
        <a class="dropdown-item" [routerLink]="['/maincomponent']" href="#">maincomponent</a>
        <a class="dropdown-item" [routerLink]="['/parentcomunication1']" href="#">Parent child </a>
        <a class="dropdown-item" [routerLink]="['/asyncexample']" href="#">Asyncexample</a>
        <a class="dropdown-item" [routerLink]="['/ngstyle-ngclass']" href="#">*ngStyle-*ngClass</a>
        <a class="dropdown-item" [routerLink]="['/stylebinding']" href="#">StyleBindig</a>
        <a class="dropdown-item" [routerLink]="['/app-pipes']" href="#">Pipes</a>
      
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Mydemo</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/templatedrivenform']" href="#">Templatedriven form</a>
        <a class="dropdown-item" [routerLink]="['/reactiveform']" href="#">Reactive form</a>
        <a class="dropdown-item" [routerLink]="['/viewchild']" href="#">@ViewChild</a>
        <a class="dropdown-item" [routerLink]="['/Parentchild']" href="#">@input</a>
        <a class="dropdown-item" [routerLink]="['/childparent']" href="#">@Output</a>
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Max</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   [routerLink]="['/basic']" >Basic</a>
        <a class="dropdown-item"   [routerLink]="['/recipes']" >Recipes Project</a>

      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">MyApp</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"   [routerLink]="['/camera']" >Camera App</a>
        <a class="dropdown-item"   [routerLink]="['/photosearch']" >Photo Search</a>

      </div>
    </li>


     
  </ul>
</nav>
