<div class="row mt-3">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">@viewChild Description</div>
            <div class="card-body">Content</div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">@viewChild Demo</div>
            <div class="card-body">

                <button type="button" class="btn btn-primary" (click)="ParentIncrease()"> Increase count 1</button>
                <button type="button" class="btn btn-primary ml-2" (click)="ParentIncreaseDecrease()"> Decrease count -1</button>

                <app-counter-child></app-counter-child>

            </div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>
</div>


