<div class="row mt-3">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white text-capitalize">LifeCycleHook</div>
      <div class="card-body">
        <div class="form-group">
          <p class="text-success lead">Send text to parent to child</p>
          <label for="">Enter Text</label>
          <input type="text" class="form-control" #val>
          <button type="button" class="btn btn-success mt-3 float-sm-right" (click)="parentDataSend(val)">Submit
            Value</button>
        </div>

<div class="clearfix"></div>
        <div class="card bg-warning lead text-center font-weight-lighter mt-3">
            <div class="card-body">
                <p class="text-success lead">uxchild Component</p> <app-uxchild [myValue]="value" *ngIf="comp1exist">ng-content
                    {{value}}</app-uxchild>
            </div>
          </div>

          <div class="card bg-warning lead text-center font-weight-lighter mt-3">
            <div class="card-body">
                <button type="button" class="btn btn-danger mt-3 float-sm-right" (click)="ngDistroy()">Submit Value</button>
            </div>
          </div>
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="card ">
        <div class="card-header bg-info text-white">LifeCycleHook</div>
        <div class="card-body">
<img src="../../../../assets/img/hook.PNG"  class="img-thumbnail img-fluid " alt="" srcset="">
        </div>
        <div class="card-footer bg-info text-white">Footer</div>
      </div>
</div>


</div>
