<div class="row mt-3">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-info">Databinding</div>
      <div class="card-body">
        <p>Interpolation</p>
        <p>Property Binding</p>
        <p>Event Binding</p>
        <p>Two-way Binding</p>
      </div>
      <div class="card-footer">2class</div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-info">Diractive</div>
      <div class="card-body">
        <p>Component : class , tag</p>
        <p>Stractural : *ngIf , *ngFor,*ngSwich</p>
        <p>Attibutes : html Atrribute</p>

      </div>
      <!-- <div class="card-footer"> </div> -->
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info">Short Discription</div>
      <div class="card-body">
        <p>service:commancode ,reusecode </p>
        <p>Dependency injection</p>
        <p>Pipe : pipe change behavior and structure of html pages</p>
        <p>Difference : 2,4,5,6 , 7 , 8 , 9</p>
        <p>angular cli : easily create componet , pipe service, many more</p>
      </div>
      <!-- <div class="card-footer"> </div> -->
    </div>
  </div>
</div>

<div class="row mt-3">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-info">Crate angular app</div>
      <div class="card-body">
        <ul>
          <li> ng new projectname
          </li>
          <li> how to build project : 1 developmemt (dev) 2 Production (prod)
          </li>
          <li> command : ng build project name command : ng b project name short</li>
        </ul>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">After build create 5 files</a>
    <a href="#" class="list-group-item list-group-item-action">Main.js</a>
    <a href="#" class="list-group-item list-group-item-action ">polyfills.js</a>
    <a href="#" class="list-group-item list-group-item-action ">style.js</a>
    <a href="#" class="list-group-item list-group-item-action ">runtimes.js</a>
    <a href="#" class="list-group-item list-group-item-action ">vendor.js</a>
</div>

      </div>
      <!-- <div class="card-footer"> </div> -->
    </div>
  </div>

</div>
