


<div class="card">
    <div class="card-body">
        <p appChangecolor> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime facilis est accusamus.</p>
        <p appChangecolor> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime facilis est accusamus.</p>
        <p appChangecolor> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime facilis est accusamus.</p>
        

        <small>Note: p is hosted element and appChangecolor is host  </small>
    </div>
  </div>



  <div class="card">
    <div class="card-body">
        <form>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="cr" name="example1"  (click)="changeColor1('#B284BE')">
              <label class="custom-control-label" for="cr" >B284BE</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="cr2" name="example1" (click)="changeColor1('#72A0C1')">
              <label class="custom-control-label" for="cr2">72A0C1</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="cr3" name="example1" (click)="changeColor1('#EDEAE0')">
                <label class="custom-control-label" for="cr3">EDEAE0</label>
              </div>
          </form>
    </div>
  </div>
  