<div class="row mt-3">


  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">Template literals (Template strings) & string method in ES6 in
        JavaScript</div>
      <div class="card-body">
        <p><span class="text-success font-weight-bold">Concat String Using temp literals : </span>{{tempconcat}}</p>
        <div class="card">
          <div class="card-body">
            <p class="lead text-danger">Template literals string method ES6</p>
            <p><span class="text-success font-weight-bold">startsWith('s') :</span>{{startwithmethod}}</p>
            <p><span class="text-success font-weight-bold">endsWith('e') :</span>{{endsWithmethod}}</p>
            <p><span class="text-success font-weight-bold">includes('somnath') :</span>{{includesmethod}}</p>
            <p> <span class="text-success font-weight-bold">repeat(5) : </span> {{repeatmethod}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer bg-info text-white">Footer</div> -->
    </div>
  </div>

  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white"> Array Destructuring in ES6 in JavaScript</div>
      <div class="card-body">
        <p> <span class="text-success font-weight-bold">myproglang Array : </span> {{myproglang}}</p>
        <p> <span class="text-success font-weight-bold">top1 : </span> {{top1}}</p>
        <p> <span class="text-success font-weight-bold">top2 : </span> {{top2}}</p>
        <p> <span class="text-success font-weight-bold">top3 : </span> {{top3}}</p>
        <p> <span class="text-success font-weight-bold">top4 : </span> {{top4}}</p>
        <p> <span class="text-success font-weight-bold">top5 : </span> {{top5}}</p>
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>
</div>
