<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info">First Class</div>
      <div class="card-body">
        <p>{{title}}</p>
        <p>Name: {{name}}</p>
        <p>Mycity : {{city}}</p>
        <p>Addition : {{num1+num2}}</p>
        <p>Subtraction : {{num1-num2}}</p>
        <p>Mul : {{num1*num2}}</p>
        <p>Div : {{num1/num2}}</p>
        <p>Add : {{num1+30}}</p>
        <p>Addition : {{20+30}}</p>
        <p>Addition : {{20+30}}</p>
        <p>Addition : {{"somnath"+30}}</p>
      </div>
      <div class="card-footer">Interpolation and Arithmetic operations on html page</div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-success">Two component one page</div>
      <div class="card-body">
        <app-employee></app-employee>
        <app-emp></app-emp>
      </div>
      <div class="card-footer">We can add multipal component in one page </div>
    </div>
  </div>
</div>
