

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info text-white">What is Angular</div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            The Angular is the newest form of the AngularJS, developed by Google, which is an opensource front-end
            development platform used for building mobile and desktop web
            applications. Angular is rewritten by the same team that built AngularJS.
            It is a JavaScript framework for building web applications and apps in JavaScript, HTML,
            and Typescript, which is a superset of JavaScript. The Angular now comes with every latest
            feature you need to build a complex and sophisticated web or mobile application. It contains
            features like component, Directives, Forms, Pipes, HTTP Services, Dependency Injection and
            many more.
            Angular is one of the most popular frameworks for building client apps with HTML, CSS and
            Typescript.
          </div>
        </div>

      </div>
      <div class="card-footer"></div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info text-white">Why Angular</div>
      <div class="card-body">
        Angular is the next big deal. Being the successor of the massive successful AngularJS
        framework it’s bound to frame the future of frontend development in a similar way. The
        powerful features and capabilities of Angular permit you to build complex, customizable,
        modern, responsive and user-friendly web applications. It also enables you to create software
        quicker and with less effort.
        As your application grows, structuring your code in a clean and maintainable and more
        importantly, testable way, becomes more complex. But your life becomes far easier using a
        framework like Angular.
        Angular 8 is the latest version of the Angular framework and simply an update to Angular 2.
        Angular is faster than AngularJS and offers a much more flexible and modular development
        approach. After studying this course you become proficient and able to take full advantage of
        all those features and start developing incredible applications in a reasonable time.
        Due to the drastic change between Angular 1 and Angular 7 you don’t need to have knowledge
        about AngularJS to be able to benefit from this course and build your futures projects with
        Angular.
      </div>
      <div class="card-footer"> </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info text-white">Following are building blocks of Angular. These are:</div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
         <pre>  
            • Modules
            • Components
            • Templates
            • Metadata
            • Data binding
            • Directives
            • Services
            • Dependency Injection
            we will discuss one by one in subsequence chapter in this course.</pre> 

          </div>
        </div>

      </div>
      <div class="card-footer">Interpolation and Arithmetic operations on html page</div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info text-white">Module</div>
      <div class="card-body">

  Module is the block of code which is designed to perform a single task. We can export the
module in form of class. Angular 2 applications have one or more modules. Every Angular
application must have at least one module. If Angular application contains only one module, it
is referring as root module. Every Angular application has one root module and many more
featured modules.
Angular module is a class which is decorated with @NgModule. NgModule takes a single
metadata object and its properties describe the module. Following are the important properties
of NgModule.
<br>• exports - It is the subset of declarations which would be used in the component template of
other module.
<br>• imports - imports other modules
<br>• providers - It is a creator of services. They can be accessible in all the parts of the
application.
<br>• bootstrap - The root module has to set the bootstrap property. It is used to host all other
views.
<br>• declarations - It declare the view class that belong to current module. There are three type
of view classes supported by Angular components, directives, and pipes..

      </div>
      <div class="card-footer">We can add multipal component in one page </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info">First Class</div>
      <div class="card-body">
        <p>{{title}}</p>
        <p>Name: {{name}}</p>
        <p>Mycity : {{city}}</p>
        <p>Addition : {{num1+num2}}</p>
        <p>Subtraction : {{num1-num2}}</p>
        <p>Mul : {{num1*num2}}</p>
        <p>Div : {{num1/num2}}</p>
        <p>Add : {{num1+30}}</p>
        <p>Addition : {{20+30}}</p>
        <p>Addition : {{20+30}}</p>
        <p>Addition : {{"somnath"+30}}</p>
      </div>
      <div class="card-footer">Interpolation and Arithmetic operations on html page</div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-success">Two component one page</div>
      <div class="card-body">
        <app-employee></app-employee>
        <app-emp></app-emp>
      </div>
      <div class="card-footer">We can add multipal component in one page </div>
    </div>
  </div>
</div>
