<div class="row mt-3">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header bg-info text-white">Subject and Behaviour Subject </div>
      <div class="card-body">
<h2 class="text-center text-danger display-4 mb-5">User Name is :{{userName}} </h2>
        <div class="row">

          <div class="col-md-6">
            <div class="card bg-light mb-4">
              <div class="card-body">

                <app-compsubchild1></app-compsubchild1>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="card bg-light mb-4">
              <div class="card-body">

                <app-compsubchild2></app-compsubchild2>
                
              </div>
            </div>
          </div>

        </div>

        <div class="row">
            
            <div class="col-md-6">
              <div class="card bg-light mb-4">
                <div class="card-body">

                    <app-compsubchild3></app-compsubchild3>
                    
                </div>
              </div>
            </div>
  
            <div class="col-md-6 ">
              <div class="card bg-light mb-4">
                <div class="card-body">

                    <app-compsubchild4></app-compsubchild4>
                    
                </div>
              </div>
            </div>
  
          </div>


      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>
</div>
