<div class="row mt-3">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white">Basic</div>
      <div class="card-body">
        <h3>{{'basic component' |titlecase }}</h3>
        <hr>

        <app-server></app-server>
        <!-- <app-servers></app-servers> -->
      </div>
      <div class="card-footer text-danger">Using template & styles</div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card ">
      <div class="card-header bg-info text-white">Data Binding</div>
      <div class="card-body">
        <ul>
          <li>String Interpolation Binding</li>
          <li>Property Binding</li>
          <li>Event Binding</li>
          <li>Two Way Binding</li>
        </ul>

        <hr>
        
        <app-server></app-server>
        <app-servers></app-servers>

      </div>
      <div class="card-footer text-danger"></div>
    </div>
  </div>
</div>

<div class="row mt-3">
<div class="col-md-12">
  <div class="card ">
    <div class="card-header bg-info text-white">Assigment</div>
    <div class="card-body">
<app-assigment1></app-assigment1>

    </div>
    <div class="card-footer text-danger"></div>
  </div>
</div>
</div>
