<div class="row mt-3">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header bg-info text-white">View Child in Angular </div>
        <div class="card-body">

 

<div  >
  <h2 #box class="text-center text-danger display-4 mb-5">User Name is :{{userName}} </h2>
</div>
<button class="btn-success btn mt-2 mx-2 float-lg-right" (click)="ChangeChildMethod()">Change Child Method</button>
<button class="btn-success btn mt-2 float-lg-right" (click)="ChangeChildProperty()">Change Child Property</button>

<div class="clearfix"></div>        
<div class="row mt-3">
              
   
              <div class="col-md-12 ">
                <div class="card bg-light mb-4">
                  <div class="card-body">
  
                      <app-ux-view-child></app-ux-view-child>
                      
                  </div>
                </div>
              </div>
    
            </div>
  
  
        </div>
        <div class="card-footer bg-info text-white">Footer</div>
      </div>
    </div>
  </div>
  