<!-- <h1>parant Selector</h1> -->

<!-- <h1>Welcome to {{title}}</h1>
<h3>{{name}}</h3> -->
<!-- <button type="button" class="btn btn-default" (click)="changecity()">Change City</button>
<h3>mycity : {{city}}</h3>
<h3>Addition : {{num1+num2}}</h3>
<h3>suntraction : {{num1-num2}}</h3>
<h3>Addition : {{num1*num2}}</h3>
<h3>Addition : {{num1/num2}}</h3>
<h3>Addition : {{num1+30}}</h3>
<h3>Addition : {{20+30}}</h3>
<h3>Addition : {{20+30}}</h3>
<h3>Addition : {{"somnath"+30}}</h3> -->

<!-- Name : {{company.name}}
City : {{company.city}}
state: {{company.state}} -->

<!-- Name : {{company && company.name}}
City : {{company && company.city}}
state: {{company && company.state}} -->

<!-- Name : {{company?.name}}
City : {{company?.city}}
state: {{company?.state}} -->


<!-- Name : {{company ? company.name : "No Data Found"}}
<br>
City : {{company ? company.city : "No Data Found"}}
<br>

State: {{company ? company.state : "No Data Found"}}
<br>
India: {{company ? company.country : "No Data Found" }} -->

<!-- Parent Component : <input type="text" #Pcomponent (keyup)="sendvalue($event)"> -->




<!-- <app-emp></app-emp> -->
<!-- <app-student [Pdata]="Pcomponent.value"> </app-student> -->
<!-- <app-employee></app-employee> -->

<!-- <app-genderselection></app-genderselection>
<br>
<br>
<div *ngIf="ss">
  ID :{{ss.id}} Name :{{ss.name}}
</div>

<h3>Enum Example</h3> -->
<!-- <p>{{myenum.one}}</p>
<p>{{myenum.two}}</p>
<p>{{myenum.three}}</p>
<p>{{myenum.four}}</p> -->

<!-- <p>{{myenum.one}}</p>
<p>{{myenum.two}}</p>
<p>{{myenum.three}}</p>
<p>{{myenum.four}}</p> -->



<!-- <div *ngIf="ss1">ID : {{ss1.id}} Name :{{ss1.name}}</div>
 <div *ngIf="true"> Hello Word</div>

  <ng-template [ngIf]="true">
   HI how are you
 </ng-template> -->

<app-directive></app-directive>






