<div class="row mt-3">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white"> Login page with ng-content</div>
      <div class="card-body">
        <app-parentng-child>
          <h1>Shivansh sumbe</h1>
          <h1>Shivansh sumbe</h1>

          <h2 id="fiterid">somnath sumbe</h2>
          <h2 id="fiterid">somnath sumbe</h2>

          <h3 class="fiterclass">sunita sumbe</h3>
          <h3 class="fiterclass">sunita sumbe</h3>

          <h3 somnath value="123">suman sumbe</h3>
          <h3 somnath value="123">suman sumbe</h3>
        </app-parentng-child>

      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>




</div>
