<div class="row mt-3">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info">Decorators</div>
      <div class="card-body">


        <ul class="list-group">
          <li class="list-group-item">Decorators is fuction its call run time decorator start with @ sign</li>
          <li class="list-group-item">Comman decorator: @ngModule() @component(), @Injectable @Input() @Output</li>
          <li class="list-group-item">@ngModule(): to define modules</li>
          <li class="list-group-item">@component(): to define component</li>
          <li class="list-group-item">@Injectable(): to define Service</li>
          <li class="list-group-item">@Input() ,@Output() : to define parant child reletions</li>
        </ul>
      </div>
      <div class="card-footer">4 class</div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info"> Types of Decorators..</div>
      <div class="card-body">



        <ul class="list-group">
          <li class="list-group-item">Class decorators, e.g. @Component and @NgModule</li>
          <li class="list-group-item"> Property decorators : for properties inside classes, e.g. @Input and @Output</li>
          <li class="list-group-item"> Method decorators : for methods inside classes, e.g. @HostListener</li>
          <li class="list-group-item">@Injectable(): to define Service</li>
          <li class="list-group-item"> Parameter decorators : for parameters inside class constructors, e.g. @Inject
          </li>
        </ul>
      </div>
      <!-- <div class="card-footer"> </div> -->
    </div>
  </div>




</div>



<div class="row mt-3">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-info"> Error Handaling</div>
      <div class="card-body">

        <!-- 
<p>Name: {{familys && familys.name}}</p>
<p>age :{{familys && familys.age}}</p>
<p>city : {{familys && familys.city}}</p> -->



        <p>Name: {{familys ? familys.name :'No Data Found'}}</p>
        <p>age :{{familys ? familys.age :'No Data Found'}}</p>
        <p>city : {{familys ? familys.city :'No Data Found'}}</p>

      </div>
      <!-- <div class="card-footer"> </div> -->
    </div>
  </div>


  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">ngSwitch</div>
      <div class="card-body">
        <input type="text" #name (keyup)="0">
        <div [ngSwitch]="name.value">
          <div *ngSwitchCase="'somnath'">somnath</div>
          <div *ngSwitchCase="'sunita'">sunita</div>
          <div *ngSwitchCase="'amol'">amol</div>
          <div *ngSwitchDefault>No data Match</div>
        </div>


<h2>call from function</h2>
        <div [ngSwitch]="show()">
          <div *ngSwitchCase="'somnath'">somnath</div>
          <div *ngSwitchCase="'sunita'">sunita</div>
          <div *ngSwitchCase="'amol'">amol</div>
          <div *ngSwitchDefault>No data Match</div>
        </div>


        <h2>call from function</h2>
        <div [ngSwitch]="show()">
          <div *ngSwitchCase="'somnath'">somnath</div>
          <div *ngSwitchCase="'sunita'">sunita</div>
          <div *ngSwitchCase="'amol'">amol</div>
          <div *ngSwitchDefault>No data Match</div>
        </div>
         
      </div>
      
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>
</div>
