<div class="jumbotron text-center  bg-warning">
  <h1>mainservicepage works!</h1>
  <p>Resize this responsive page to see the effect!</p>


</div>


<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-6  text-center ">
      <h3 class="bg-info text-white  p-2"> MyService from component level (5 and before)</h3>
      <p>{{myname}}</p>
    </div>

    <div class="  col-sm-6 text-center">
      <h3 class="bg-success text-white  p-2">OtherService from component level (5 and before)</h3>
      <p>{{otherservicename}}</p>
    </div>


  </div>
</div>
