<div class="jumbotron text-center  bg-warning">
  <h1>mainservicepage works!</h1>
  <p>Resize this responsive page to see the effect!</p>


</div>


<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-6  text-center ">
      <h3 class="bg-info text-white  p-2"> MyService from component level (5 and before)</h3>
      <p>{{myname}}</p>
    </div>

    <div class="  col-sm-6 text-center">
      <h3 class="bg-success text-white  p-2">OtherService from component level (5 and before)</h3>
      <p>{{otherservicename}}</p>
    </div>


  </div>
</div>


<div class="row mt-3">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">Singleton Before 5</div>
      <div class="card-body">




        <div class="card mb-3">
          <div class="card-body bg-success">
            <app-servicecompo1></app-servicecompo1>
          </div>
        </div>



        <div class="card mb-3">
          <div class="card-body bg-warning">
            <app-servicecompo2></app-servicecompo2>
          </div>
        </div>

      </div>
      <div class="card-footer bg-info text-white">ragister in module file</div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">Multipal Before 5</div>
      <div class="card-body">

        <div class="card mb-3">
          <div class="card-body bg-success">
            <app-servicecompo3></app-servicecompo3>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body bg-warning">
            <app-servicecompo4></app-servicecompo4>
          </div>
        </div>

      </div>
      <div class="card-footer bg-info text-white">ragister in coponent file</div>
    </div>
  </div>
</div>





<div class="row mt-3">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">Singleton after 6</div>
      <div class="card-body">




        <div class="card mb-3">
          <div class="card-body bg-success">
            <app-servicecompo5></app-servicecompo5>
          </div>
        </div>



        <div class="card mb-3">
          <div class="card-body bg-warning">
            <app-servicecompo6></app-servicecompo6>
          </div>
        </div>

      </div>
      <div class="card-footer bg-info text-white">ragister in module file</div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card ">
      <div class="card-header bg-info text-white">Multipal after 6</div>
      <div class="card-body">

        <div class="card mb-3">
          <div class="card-body bg-success">
            <app-servicecompo7></app-servicecompo7>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body bg-warning">
            <app-servicecompo8></app-servicecompo8>
          </div>
        </div>

      </div>
      <div class="card-footer bg-info text-white">ragister in coponent file</div>
    </div>
  </div>
</div>
