<div class="row mt-3">
  <div class="col-md-8">
    <div class="card ">
      <div class="card-header bg-info text-white">@Input Description</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item">must have Parent Child reletionship </li>
              <li class="list-group-item">maininputoutput parent component</li>
              <li class="list-group-item">child1 child component</li>
              <li class="list-group-item">Send input controldata to parent </li>



            </ul>

          </div>
          <div class="col-md-8">
            <ul class="list-group">
              <li class="list-group-item" ngNonBindable>{{input type="text" class="form-control form-control-sm" #Pcomponent (input)="0"
            }} </li>
              <li class="list-group-item" ngNonBindable> {{ app-child1 [Pdata]="Pcomponent.value" /app-child1}} </li>
              <li class="list-group-item" ngNonBindable> {{import { Component, OnInit, Input } from '@angular/core';}}
              </li>

              <li class="list-group-item"> @Input() Pdata:any;</li>
            </ul>

          </div>
        </div>

      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white">@Input Demo Parent to Child </div>
      <div class="card-body">
        <h4>@Input Example</h4>
        <div class="form-group">
          <label for="">Parent Data</label>
          <input type="text" class="form-control form-control-sm" #Pcomponent (input)="0">
          <app-child1 [Pdata]="Pcomponent.value"></app-child1>
        </div>
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>
</div>
