<div class="row mt-3">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header bg-info text-white">@Output Demo child to parent </div>
      <div class="card-body">
        <h4>@Output Example parent component</h4>
        
        <div class="form-group">
          <!-- //stap 9  custome event (childevent) -->
          <!-- //stap 10  bind event to Cdata=$event variable  & event fire with help of  $event-->
          <app-child1communication (childevent)="Cdata=$event"></app-child1communication>
        </div>

        Child Data : {{Cdata}}
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>
</div>
