<div class="row">
    <div class="col-md-12">
      <div class="card mt-3 lead font-weight-bold text-center bg-info text-white font-italic">
        <div class="card-body">Manage Products</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5">
      <div class="card ">
        <div class="card-header bg-info text-white">Add Products</div>
        <div class="card-body">
          <form #templateFormData="ngForm" (ngSubmit)="addProductData(templateFormData)">
            <div class="form-group mb-3">
              <label for="productId">Product ID</label>
              <input class="form-control" ngModel  #productId='ngModel' type="text" id="userName" name="productId" required placeholder="Enter your user name">
              <span *ngIf="!productId.valid && (productId.touched || productId.dirty)" class="text-danger small">
                <small *ngIf='productId.errors["required"]'>Product ID required</small>
              </span>
            </div>
            <div class="form-group mb-3">
              <label for="productName">Product Name</label>
              <input class="form-control" ngModel  #productName='ngModel' type="productName" id="productName" name="productName" required placeholder="Enter your productName">
           
              <span *ngIf="!productName.valid && (productName.touched || productName.dirty)" class="text-danger small">
                <small *ngIf='productName.errors["required"]'>Product Name required</small>
              </span>
            </div>


                        <div class="form-group mb-3">
              <label for="productPrice">Product Price</label>
              <input class="form-control" ngModel  #productPrice='ngModel' type="productPrice" id="productPrice" name="productPrice" required placeholder="Enter your productName">
           
              <span *ngIf="!productPrice.valid && (productPrice.touched || productPrice.dirty)" class="text-danger small">
                <small *ngIf='productPrice.errors["required"]'>Product Price required</small>
              </span>
            </div>

<!-- 
            <div class="col-md-12 p-0">
                <button type="submit" class="btn btn-primary mx-1 " [disabled]="!productsForm.valid"><i
                    class="fas fa-plus-square"></i> {{editmode ?  'Update Product' : 'Add Product' }}</button>
                <button type="button" class="btn btn-success mx-1 " (click)="onSaveProduct()"><i class="fas fa-save"></i>
                  Save Product</button>
                <button type="button" class="btn btn-warning mx-1 text-white " (click)="onFeachProduct()"><i
                    class="fas fa-cloud-download-alt"></i> Fetch Product</button>
              </div> -->


            <div class="col-md-12 p-0">
                <button type="submit" class="btn btn-primary mx-1 "><i
                    class="fas fa-plus-square"></i> Add </button>
                <button type="button" class="btn btn-success mx-1 " (click)="saveProduct()" ><i class="fas fa-save"></i>
                  Save Product</button>
                <button type="button" class="btn btn-warning mx-1 text-white " ><i
                    class="fas fa-cloud-download-alt"></i> Fetch Product</button>
              </div>

          </form>
        </div>
        <!-- <div class="card-footer bg-info text-white">Footer</div> -->
      </div>
    </div>
  
    <div class="col-md-7">
      <div class="card ">
        <div class="card-header bg-info text-white">{{dataTitle | async}}</div>
        <div class="card-body">
          <table *ngIf="!feaching" class="table table-bordered table-sm">
            <thead class="bg-success text-white ">
              <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i= index">
                <td>{{i+1}}</td>
                <td>{{product.id}}</td>
                <td>{{product.name | titlecase}}</td>
                <td>{{product.price |currency:'INR'}}</td>
                <td class="text-danger">
                  <button type="button" class="btn btn-link  text-danger" (click)="onEditProduct(i)"><i class="fas fa-user-edit"></i></button>
                </td>
                <td class="text-danger">
                  <button type="button" class="btn btn-link  text-danger" (click)="onDeleteProduct(i)"><i
                      class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
  
            </tbody>
          </table>
          <div *ngIf="feaching" class="text-center text-success font-weight-lighter">
            <span class="spinner-border text-primary"></span>
            Feaching Products
          </div>
        </div>
        <!-- <div class="card-footer bg-info text-white">Footer</div> -->
      </div>
    </div>
  </div>
  