

<div class="row mt-3">
  <div class="col-md-12">
      <div class="card ">
          <div class="card-header bg-info text-white">How to Import and Use jQuery in Angular</div>
          <div class="card-body">

            <ul class="list-group">
              <li class="list-group-item ">install jQuery
                First install jQuery using npm as follows
                npm install jquery -- save</li>
              <li class="list-group-item">Second go to the ./angular.json file at the root of your Angular CLI project folder, and find the scripts:
                [] property, and include the path to jQuery as follows
                "scripts": [ "./node_modules/jquery/dist/jquery.min.js" ]</li>
              <li class="list-group-item">Use jQuery
                Note: If you want to use bootstrap in your application or if you already have in your project, make
                sure to include jQuery before including the bootstrap javascript file as follows. Since bootstrap’s
                javascript file requires jQuery.</li>
              <li class="list-group-item">"scripts": [ "./node_modules/jquery/dist/jquery.min.js",
                "./node_modules/bootstrap/dist/js/bootstrap.js"]
               After including jQuery stop running your Angular CLI application and then re run it using ng serve.</li>
              <li class="list-group-item">Now to use jQuery, all you have to do is to import it as follows in whatever component you want to use
                jQuery.
                import * as $ from 'jquery';</li>
            </ul>
          </div>
          <div class="card-footer bg-info text-white">Footer</div>
        </div>
  </div>

</div>


<div class="row mt-3">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white">Discription</div>
      <div class="card-body">
        <p> install : npm i jquery --save</p>
        <p>angular.json: "scripts": ["./node_modules/jquery/dist/jquery.min.js"]</p>
        <p>import on component : import * as $ from 'jquery';</p>
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white">Password Checker</div>
      <div class="card-body">
        <label for="">Enter Password : </label>
        <input type="password" name="" id="status">
        <small id="first" style="padding: 7px; margin-left: 10px; color:white"></small>

      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card ">
      <div class="card-header bg-info text-white">Change body color</div>
      <div class="card-body" id="bodyColorChange">
        <div class="form-group">
          <label for=""></label>
          <select class="form-control" name="" id="list">
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="black">black</option>
          </select>
        </div>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, hic saepe natus consequatur ullam repellendus
          suscipit blanditiis harum praesentium ex!</p>
      </div>
      <div class="card-footer bg-info text-white">Footer</div>
    </div>
  </div>



</div>



<div class="row mt-3">
  <div class="col-md-3">
    <div class="card ">
      <div class="card-header bg-info text-white">After</div>
      <div class="card-body">
<p id="liveevent">Lorem, ipsum.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header bg-info text-white">Find</div>
      <div class="card-body">

     <div>
      <h2 class="soma"> This is Jquery Find Function</h2>
     </div>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header bg-info text-white">each()</div>
      <div class="card-body">

        <ul>
          <li class="one">one</li>
          <li class="one">one</li>
          <li class="one">one</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header bg-info text-white">Discription</div>
      <div class="card-body">
<div id ="loadfile"></div>
      </div>
    </div>
  </div>
  </div>
