<div class="row mt-3">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">Discription</div>
            <div class="card-body">
              <p>  install : npm i jquery --save</p>
              <p>angular.json: "scripts": ["./node_modules/jquery/dist/jquery.min.js"]</p>
              <p>import on component : import * as $ from 'jquery';</p>
            </div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>


    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">Start Animation</div>
            <div class="card-body">
                <p id="p1">jQuery is fun!!</p>

<button >Click me</button>
                </div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>



</div>

