<div class="row mt-3">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">Header</div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                      <tr>
                        <th>Discription</th>
                        <th>Command</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>install</td>
                        <td>npm i font-awesome bootstrap jquery popper.js --save</td>
                      </tr>
                      <tr>
                        <td>angular-cli</td>
                        <td>npm install @angular/cli -g</td>
                      </tr>
                      <tr>
                        <td>Create your first Angular CLI app</td>
                        <td>ng new [project-name]</td>
                      </tr>
                      <tr>
                        <td>But the CLI creates normal css-files for every component by default. If you don't want to change them manually every time, you can use the --style scss option to tell the CLI that you want to use Sass</td>
                        <td>ng new example --style scss</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>

                    </tbody>
                  </table>
            </div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-info text-white">Header</div>
            <div class="card-body">Content</div>
            <div class="card-footer bg-info text-white">Footer</div>
          </div>
    </div>
</div>

